{% extends "index.html" %}

{% block content %}
<head>
    <title>{% block title %}Мой первый сайт на Twig{% endblock %}</title>
</head>
<nav>
    <div class="menu">
        <div class="wrap_body">
            <a href="/">Главная</a>
            {% for page in pages %}
            {% if page.visible == 1 %}
            <a href="page?url={{ page.url }}">{{ page.name }}</a>
            <!--<a href="page?id={{ page.id }}">{{ page.name }}</a>-->
            {% endif %}
            {% endfor %}
        </div>
    </div>
</nav>
{% endblock %}


{% block sidebar %}
<div class="container-fluid wrap_body">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="categories">
                <h2>Категории</h2>
                <div class="category">
                    {% macro menu_categories(categories) %}
                    {% import _self as macros %}
                    {% for category in categories %}
                    {% if category.visible %}
                    <li>
                        <!--<input type="checkbox" name="but" id="{{ category.id }}">-->
                        <!--<label for="{{ category.id }}" class="label">-->
                        <a href="category?url={{ category.url }}">{{ category.name }}</a>
                        {% if category.visible %}
                        {% if category.subcategories %}
                        <!--<span>></span>-->
                        <!--</label>-->
                        <ul>
                            {{ macros.menu_categories(category.subcategories) }}
                        </ul>

                        {% endif %}
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endmacro %}

                    {% import _self as macros %}

                    <ul class="main-menu">
                        {{ macros.menu_categories(categories) }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <h1>{{ page.name }}</h1>

            <div>{{ page.description }}</div>
        </div>
    </div>
</div>


{% endblock %}
