{% extends "index.html" %}


{% block content %}

{% endblock %}


{% block sidebar %}
<div class="col-sm-8 col-md-9">
    <div class="cart-page">
        <h1>Корзина</h1>
        {% if carts %}
        <form  method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>№</th>
                    <th>Название товара</th>
                    <th>Цена за шт</th>
                    <th>Количество</th>
                    <th>Сумма, грн</th>
                    <th>Удалить</th>
                </tr>
                {% set i = 0 %}
                {% for cart in carts.products %}
                {% set cost = cart.cart_amount * cart.price %}
                <tr>
                    <input type="hidden" name="id" value="{{ cart.id }}">  <!--скрытое поле для контроля есть ли такой id-->
                    {% set i = i + 1 %}
                    <td>{{ i }}</td>
                    <td><output name="name"><a href="../product/{{ cart.url }}">{{ cart.name }}</a></output></td>
                    <td><output name="price">{{ cart.price }}</output></td>
                    <td><input type="number" name="cart_item[{{ cart.id }}]" value="{{ cart.cart_amount }}" min="1" max="50"></td>
                    <td><output name="summ">{{ cost }}</output></td>
                    <td><input type="checkbox" name="operations[]" value="{{ cart.id }}"></td>
                </tr>
                {% endfor %}

                <tr>
                    <th colspan="4">ИТОГО: </th>
                    <th><output name="summ_price">{{ carts.summ_price }}</output></th>
                    <th><input type="submit" name="del" value="Удалить"/>
                </tr>
            </table>
            <div class="koord-button">
                <button class="button color-blue" type="submit" name="refresh" value="1">Пересчитать сумму</button>
            </div>
            <div class="row">
                <div class="regisr_form">
                    <div class="col-xs-6 col-md-6">
                    <h4>Ваше имя:</h4>
                    <input type="text" name="last_name" value="">
                    </div>
                    <div class="col-xs-6 col-md-6">
                    <h4>Ваша фамилия:</h4>
                    <input type="text" name="first_name" value="">
                    </div>
                    <div class="col-xs-6 col-md-6">
                    <h4>Ваш e-mail:</h4>
                    <input type="email" name="e-mail" value="">
                   </div>
                    <div class="col-xs-6 col-md-6">
                    <h4>Ваш телефон:</h4>
                    <input type="text" name="phone" value="">
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="koord-button">
                <button class="button" type="submit" name="buy" value="1">Оформить заказ</button>
            </div>
            {% if error  is defined %}
                <p class="er">{{ error }}</p>
            {% endif %}
        </form>
        {% else %}
        <p>Корзина пуста</p>
        {% endif %}
    </div>
</div>

{% endblock %}