{% extends "index.html" %}

{% block content %}

{% endblock %}


{% block sidebar %}
{% set i = 0 %}
        <div class="col-sm-8 col-md-9">
            <section class="products">
                <h1>{{ category1.name }}</h1>
                <div class="row">
                    {% set flag = 0 %}
                    {% for product in products %}
                    {% if product.category_id in category %}

                        {% if product.visible == 1 %}
                           {% set flag = 1 %}
                            <div class="col-sm-6 col-md-4">
                                <div class="product">
                                    <div class="wrap_product">
                                        <form method="post">
                                            <input type="hidden" name="id" value="{{ product.id }}">
                                            <a href="../product/{{ product.url }}">
                                                <!--Дата товара-->
                                                <div class="product_data">
                                                    <p>{{ product.created_at }}</p>
                                                </div>
                                                <!--Изображение товара-->
                                                <div class="img-prod">
                                                    {% if product.file_name is empty %}
                                                        <p>Картинки нет</p>
                                                    {% else %}
                                                        <img src='/uploads/{{ product.file_name }}' alt='' width='90' />
                                                    {% endif %}
                                                </div>
                                                <!--Название товара-->
                                                <div class="product_name">
                                                    <h3>{{ product.name }}</h3>
                                                </div>
                                                <!--Цена товара-->
                                                <div class="price">
                                                    <p>{{ product.price }} грн</p>
                                                </div>
                                                <!--Количество товара-->
                                                <div class="stock">
                                                    <p>На складе: {{ product.amount }} шт</p>
                                                </div>
                                            </a>
                                            <button class="button" type="submit" name="cart" value="1">В корзину</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if flag == 0 %}
                        <p>Нет товаров данной категории</p>
                    {% endif %}
                </div>
            </section>
        </div>

{% endblock %}
