<!DOCTYPE>
<html>
    <head>
        <title>{% block title %}Мой первый сайт на Twig{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <link href="/theme/assets/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!--<link href="/admin/theme/assets/css/flat-ui.min.css" rel="stylesheet">-->
        <link rel="stylesheet" href="/theme/assets/css/style.css">
        <link rel="shortcut icon" href="../assets/img/favicon.ico">
    </head>
    <body>
    <nav>
        <div class="menu">
            <div class="wrap_body">
                <div class="pages">
                    <a href="/">Главная</a>
                    {% for page in pages %}
                    {% if page.visible == 1 %}
                    <a href="/{{ page.url }}">{{ page.name }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="cart">
                    <a href="/cart">
                    <img src="/theme/assets/img/cart.png" />
                    {% if carts.summ_prod %}
                        <span>({{ carts.summ_prod }} ед)</span>
                    {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </nav>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>

        <div id="sidebar">
            <div class="container-fluid wrap_body">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="categories">
                            <h2>Категории</h2>
                            <div class="category">
                                {% macro menu_categories(categories) %}
                                {% import _self as macros %}
                                    {% for category in categories %}
                                    {% if category.visible %}
                                    <li>
                                        <!--<input type="checkbox" name="but" id="{{ category.id }}">-->
                                        <!--<label for="{{ category.id }}" class="label">-->
                                        <a href="/category/{{ category.url }}">{{ category.name }}</a>
                                        {% if category.visible %}
                                        {% if category.subcategories %}
                                        <!--<span>></span>-->
                                        <!--</label>-->
                                        <ul>
                                            {{ macros.menu_categories(category.subcategories) }}
                                        </ul>

                                        {% endif %}
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    {% endmacro %}

                                {% import _self as macros %}

                                <ul class="main-menu">
                                    {{ macros.menu_categories(categories) }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% block sidebar %}

                    {% endblock %}
                </div>
            </div>

        </div>

    </body>
</html>